@import "tailwindcss";

/**
 * ┌──────────────────────────────┐
 * │                              │
 * │    CSS Custom Properties     │
 * │                              │
 * └──────────────────────────────┘
 */

:root {
  --color-smoky-black: #141204;
  --color-drab-dark-brown: #262A10;
  --color-drab-dark-olive: #54442B;
  --color-brown-sugar: #A9714B;
  --color-persian-orange: #E8985E;
  --color-apricot: #F2C6A6;
  --color-linen: #FFEDE1;
}

@theme inline {
  /** Colors */
  --color-background: var(--color-smoky-black);
  --color-foreground: var(--color-apricot);

  --color-accent-1: var(--color-apricot);
  --color-accent-2: var(--color-persian-orange);
  --color-accent-3: var(--color-brown-sugar);
  --color-accent-4: var(--color-drab-dark-olive);
  --color-accent-5: var(--color-drab-dark-brown);

  /** Fonts */
  --font-sans: var(--font-lato);
  --font-serif: var(--font-merriweather);

  /** Layout */
  --layout-margins: 40px;

  /** Name animation */
  --jen-width: 92px;
  --word-spacing: 20px;
  --jennifer-mak-height: 120px;
  --jennifer-mak-width: 245px;

  --social-icon-width: 30px;
  --window-width: 300px;
  --content-width: 215px;
  --window-height: 425px;
  --mobile-width: 375px;
  --accent-width: 10px;
  --accent-offset--left: -34px;
  --accent-offset--right: -35px;
}

/**
 * ┌──────────────────────────────┐
 * │                              │
 * │         Base Styles          │
 * │                              │
 * └──────────────────────────────┘
 */

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  text-decoration: underline;
  color: var(--color-accent-1);
}

/**
 * ┌──────────────────────────────┐
 * │                              │
 * │           Layers             │
 * │                              │
 * └──────────────────────────────┘
 */

.layer {
  position: absolute;
}

.layer-window {
  top: calc(var(--layout-margins)*2 + var(--jennifer-mak-height));
  height: var(--window-height);
  left: calc((100% - var(--window-width)) / 2);
  border: 8px solid var(--color-foreground);
  width: var(--window-width);
}

.layer-content {
  top: calc(var(--layout-margins)*3 + var(--jennifer-mak-height));
  width: var(--content-width);
  left: calc((100% - var(--window-width)) / 2 - var(--accent-offset--left) + 8px);
}

.layer-socials {
  top: calc(var(--layout-margins)*2 + var(--jennifer-mak-height) + var(--window-height) - 18px);
  left: calc(50% - 60px);
  background: var(--color-smoky-black);
  height: 30px;
  width: 120px;
  padding: 0 10px;
  display: flex;
  gap: 14px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


@media (min-width: 576px) {
  .layer-window {
    left: calc(50% - var(--window-width)/2);
  }

  .layer-content {
    left: calc((50% - var(--window-width)/2) - var(--accent-offset--left) + 8px);
  }
}

.layer-name {
  top: var(--layout-margins);
  left: var(--layout-margins);
  width: var(--jennifer-mak-width);
  height: var(--jennifer-mak-height);
}

@media (min-width: 576px) {
  .layer-name {
    left: calc(50% - var(--jennifer-mak-width));
  }
}

/* @media (min-width: 576px) {
  .layer-socials {
    top: calc(var(--layout-margins) + 25%);
    left: calc(50% - var(--layout-margins)*2 - var(--jennifer-mak-width));
  }
} */

.layer-socials>img {
  width: var(--social-icon-width);
  height: var(--social-icon-width);
  transition: filter 0.3s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;
}

.layer-socials>img:hover {
  filter: brightness(1.2);
}

.layer-socials>img:active {
  filter: brightness(0.8);
}


/**
 * ┌──────────────────────────────┐
 * │                              │
 * │           Animations         │
 * │                              │
 * └──────────────────────────────┘
 */

.name {
  height: var(--jennifer-mak-height);
  position: relative;
}

.nifer {
  animation: niferFadeOut 3s ease-in-out infinite !important;
}

.mak {
  position: absolute;
  left: calc(var(--word-spacing) + var(--jen-width));
  animation: makSlideUpAndDown 3s ease-in-out infinite !important;
}

@keyframes niferFadeOut {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes makSlideUpAndDown {

  0% {
    transform: translateY(60px);
  }

  25% {
    transform: translateY(60px);
  }

  40% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(60px);
  }

  100% {
    transform: translateY(60px);
  }
}

/**
 * ┌──────────────────────────────┐
 * │                              │
 * │           Accents            │
 * │                              │
 * └──────────────────────────────┘
 */

.bg-swatch-1,
.bg-swatch-2,
.bg-swatch-3 {
  position: relative;
}

/* Left */
.bg-swatch-1::before {
  content: '';
  position: absolute;
  top: 0;
  left: var(--accent-offset--left);
  width: var(--accent-width);
  height: 100%;
  background: var(--color-accent-4);
}

/* Right */
.bg-swatch-1::after {
  content: '';
  position: absolute;
  top: 0;
  right: var(--accent-offset--right);
  width: var(--accent-width);
  height: 100%;
  background: var(--color-accent-4);
}

/* Left */
.bg-swatch-2::before {
  content: '';
  position: absolute;
  top: 0;
  left: var(--accent-offset--left);
  width: var(--accent-width);
  height: 100%;
  background: var(--color-accent-5);
}

/* Right */
.bg-swatch-2::after {
  content: '';
  position: absolute;
  top: 0;
  right: var(--accent-offset--right);
  width: var(--accent-width);
  height: 100%;
  background: var(--color-accent-5);
}

/* Left */
.bg-swatch-3::before {
  content: '';
  position: absolute;
  top: 0;
  left: var(--accent-offset--left);
  width: var(--accent-width);
  height: 100%;
  background: var(--color-accent-3);
}

/* Right */
.bg-swatch-3::after {
  content: '';
  position: absolute;
  top: 0;
  right: var(--accent-offset--right);
  width: var(--accent-width);
  height: 100%;
  background: var(--color-accent-3);
}